<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
		<typeAlias alias="dto_mem" type="com.jsinc.jsincDTO.MemberDTO"/>
		<typeAlias alias="dto_att" type="com.jsinc.jsincDTO.AttendanceDTO"/>
		<typeAlias alias="dto_board" type="com.jsinc.jsincDTO.BoardDTO"/>
   </typeAliases>
</configuration>